input,
button,
textarea,
:focus {
    outline: none !important;
}

.hidden {
    display: none !important;
}

.text-right {
    text-align: right;
}

.toolbar-text {
    padding: 3px 0px 0px 0px;
    line-height: 19px;
}

.text-inline {
    display: inline;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #a6cfd5; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;

    width: 120px;
    height: 120px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

tr.active,
.table-striped tr.active:nth-child(even) {
    color: #fff;
    background-color: #116cd6;
}

thead tr.active {
    color: #333;
    background-color: #f5f5f4;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

dl.info-dl {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
dl.info-dl dt {
    flex-basis: 20%;
    padding: 2px 4px;
    text-align: left;
    font-weight: bold;
    line-height: 1.1rem;
}

dl.info-dl dt::after {
    content: ':';
}

dl.info-dl dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    line-height: 1.1rem;
}

.contain-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attachment-preview-container {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    text-align: center;
}

.text-muted {
    color: #999;
}

.center-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.padded-contain {
    padding: 0px 10px;
}

hr {
    margin: 0px;
    padding: 0px;
}

.padded-sides {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.padded-sides iframe {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.padded-sides pane-block {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.full-height {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.fixed-pane {
    max-width: 480px;
}

.field-select {
    user-select: text;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 5px 10px;
    min-width: 150px;
    text-align: left;
    cursor: text;
}

.text-select {
    user-select: text;
    cursor: text;
}

.status-red {
    color: #fc605b;
}

.status-green {
    color: #34c84a;
}

.pre-text {
    vertical-align: top;
    font-family: monospace;
    white-space: pre;
}
