input,
button,
textarea,
:focus {
    outline: none !important;
}

.hidden {
    display: none !important;
}

.text-right {
    text-align: right;
}

.toolbar-text {
    padding: 3px 0px 0px 0px;
    line-height: 19px;
}

.text-inline {
    display: inline;
}
